html, body
{
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.ma-logo
{
  color: #4B1EA5 !important;  
}

/* fix ussiue of dark navbar  */
.uk-offcanvas-bar {
  background: #fff !important;
}