*::selection 
{
  background-color: #aad1cd !important;
  color: white;
}

.ma-logo
{
  color: #FF9494!important;
}

/* fix ussiue of dark navbar  */
.uk-offcanvas-bar {
  background: #fff !important;
}

.uk-navbar-container 
{
  color: #538000 !important;
}