---
layout: default
---

<!-- For articles in _post folder -->
{% if site.posts.size > 0 %}
  <article class="uk-article uk-grid-small uk-flex uk-flex-column uk-width-auto uk-width-1-2@s uk-align-center" uk-grid>
    {% for post in site.posts %}
      <div class="uk-padding-small">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <h1 class="uk-article-title">
            <a class="uk-link-reset" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h1>
          
          <p class="uk-article-meta"> Written by
            <a href="#">{{ site.title | escape }}</a>
            {{ post.date | date: date_format }}
          </p>
 
          {% if page.image %}
          <img src="{{ page.image | relative_url }}"></img>
          {% endif %}
          
          <p class="uk-text-lead">
            {{ post.excerpt }}
          </p>

          <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                  <a class="uk-button uk-button-text" href="{{ post.url | relative_url }}">Read more</a>
              </div>
          </div>
        </div>
    {% endfor %}
  </article>
{% endif %}

<!-- For articles in own folders -->
<article class="uk-article uk-grid-small uk-flex uk-flex-column uk-width-auto uk-width-1-2@s uk-align-center" uk-grid>
  {% for collection in site.collections %}
    {% assign name = collection.label %}

    {% for page in site.[name] %}
      <div class="uk-padding-small">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <h1 class="uk-article-title">
            <a class="uk-link-reset" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h1>
          
          <p class="uk-article-meta"> Written by
            <a href="#">{{ page.author | escape }}</a>
            {{ page.date | date: date_format }}
          </p>

          {% if page.image %}
          <img src="{{ page.image | relative_url }}"></img>
          {% endif %}
          
          <p class="uk-text-lead">
            {{ page.excerpt }}
          </p>

          <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                  <a class="uk-button uk-button-text" href="{{ page.url | relative_url }}">Read more</a>
              </div>
          </div>
      </div>
    {% endfor %}
  {% endfor %}
</article>