---
layout: default
comments: true
---
<article class="uk-padding-small uk-article uk-grid-small uk-flex uk-flex-column uk-width-auto uk-width-1-2@s uk-align-center" uk-grid itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="uk-article-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="uk-article-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>
  </header>

  <p class="uk-text-lead" temprop="articleBody">
    {% if page.image %}
      <img src="{{ page.image | relative_url }}"></img>
    {% endif %}
    
    {{ content }}
  </div>

  {% include disqus_comments.html %}
</article>